body{
    background-color: aliceblue;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
.weather-app{
    background: whitesmoke;
    max-width: 620px;
    margin: 45px auto;
    padding: 30px;
    border: 1px solid greenyellow;
    border-radius: 16px;
    box-shadow: 0 30px 50px aliceblue;
}
.weather-app-temperature{
    font-size: 88px;
    margin-left: 10px;
    font-weight: bold;
}
.weather-app-unit{
    margin-top: 16px;
    font-size: 28px;
}
.weather-forecast{
    padding-top: 20px;
    text-align: center;
    display: inline-block;
    margin-right: 50px;
}
.footer{
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    font-size: 12px;
}
